.text-primary,
.link-primary {
  color: #13acfb !important;
}

.btn-primary,
.bg-primary {
  background-color: #13acfb !important;
  border-color: #13acfb;
}

.btn-primary:hover {
  background-color: #0051a3 !important;
  border-color: #0051a3;
}
/*  END GLOBALS */
.card-paket {
  border: 10px solid white;
}
.card-paket:hover {
  cursor: pointer;
  border: 10px #13acfb;
  border-style: dotted;
}
